<h1>Our Astronauts</h1>

<% @astronauts.each do |astronaut| %>
<section id='space-<%= astronaut.id%>'>
  <p>Name: <%= astronaut.name %></p>
  <p>Age: <%= astronaut.age %></p>
  <p>Job: <%= astronaut.job %></p>
  <br>
  <br>
  <% astronaut.ordered_list.each do |mission| %>
  <h2>Missions Served</h2>
    <p><%= mission %></p>
    <% end %>
</section>
<% end %>


<p>Average Age: <%= @astronauts.average_age %></p>
